django
djangorestframework
django-filter
drf-spectacular
mysqlclient
pymysql
channels
channels-redis
django-cors-headers
python-dotenv
pillow
requests
djangorestframework-simplejwt
celery
redis
django-celery-beat
daphne
openpyxl
reportlab
python-docx